.pets {
  display: flex;
  flex-wrap: wrap;
  width: 2500px;
  justify-content: space-between;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
}

.buttons {
  display: flex;
  width: 2500px;
  justify-content: center;
}

button {
  width: 200px;
  font-size: 20px;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}


#cats {
  background-color: pink;
}

#dogs {
  background-color: lightblue;
}

#dinos {
  background-color: palevioletred
}

#all {
  background-color: aquamarine;
}
